* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

img {
  width: 300px !important;
  height: 300px !important;
  object-fit: cover !important;
}

input[type="text"] {
  padding: 0.5rem;
  width: 100%;
  max-width: 600px;
}
